*.adoc
*.ods
tmp/*
.DS_Store
*.xcf
out
*.env
*.env.*

# Fichier de secrets
constants.ts
docker.env

backup*.sql*

node_modules

# Ignorer le fichier de secrets des dispositifs physiques
arduino_secrets.h

# Circuit board sketches
*-backups/
fp-info-cache

*.old

requests.http