*.adoc
*.ods
tmp/*
.DS_Store
*.xcf
out
*.env
*.env.*

# Fichier de secrets
constants.ts
docker.env

backup*.sql*

node_modules

# Ignorer le fichier de secrets des dispositifs physiques
arduino_secrets.h

# Circuit board sketches
*-backups/
fp-info-cache

*.old

*.http

*.tar.gz

backup-env/

# Ignore temporaire... enlever à la fin du projet 

openshift/templates/anig/000-CreateProject.sh
openshift/templates/anig/project.yaml
