.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #095797;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto", sans-serif;
  color: white;
}

.App-error {
  background-color: #ffffff;
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  height: 100%;
}

.fullHeight {
  height: 100%;

}

.fullWidth {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.littleBar {
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  font-style: normal;
  font-family: Roboto, sans-serif;
  color: #223654;
}